﻿@model IEnumerable<BichkovWapoval.Models.EmployeeWithContractsCount>

@{
    ViewData["Title"] = "GetEmployeesWithMostContracts";
}

<h1>GetEmployeesWithMostContracts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountOfContracts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountOfContracts)
            </td>
        </tr>
}
    </tbody>
</table>
